@import "./utils/variables",
"./utils/mixin";

@font-face {
    font-family: "Aouar";
    src: url("Aouar.ttf");
}
html{
    scroll-behavior: smooth;
    background-color: $clearColor;
}
*{
    margin: 0;
    padding: 0;
    cursor: none;
}
.App{
    background-color:$interColor;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    overflow:hidden !important;
}
.Home{
    background-color:$interColor;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    width: 100vw;
    
    .Home__Button{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 120px;
        width: 120px;
        background-color: $clearColor;
        color: $interColor;
        border-radius: 100px;
        position: absolute;
        bottom: 40px;
        right: 40px;
        font-family:'dharma-gothic-e';
        font-weight: 700;
        font-size: 28px;
        z-index: 10;
    }
    h1{
        font-family: 'dharma-gothic-e';
        font-size: 138px;
        font-weight: 900;
        -webkit-text-stroke: 5px $clearColor;
        letter-spacing: 5px;
        color: $clearColor;
        span{
            font-family: Aouar;
            font-weight: 100;
            color: $interColor;
            text-transform: uppercase;
            -webkit-text-stroke: 2px $clearColor;
        }
    }
    .Home__name{
        font-size: 280px;
    }
    .grow{
        transition: 500ms;
    }
}

.Cursor{
    #cursor{
        position: fixed;
        z-index: 99;
        left: 0;
        top: 0;
        pointer-events: none;
        will-change: transform;
        
    }
    .cursor__circle {
        width: 64px;
        height: 64px;
        margin-top: -50%;
        margin-left: -50%;
        border-radius: 50%;
        border: solid 2px $clearColor;
        transition: opacity 0.3s cubic-bezier(0.25, 1, 0.5, 1),
        background-color 0.3s cubic-bezier(0.25, 1, 0.5, 1),
        border-color 0.3s cubic-bezier(0.25, 1, 0.5, 1),
        width 0.3s cubic-bezier(0.25, 1, 0.5, 1),
        height 0.3s cubic-bezier(0.25, 1, 0.5, 1);
        display: flex;
        justify-content: center;
        align-items: center;
        p{
            font-family: poppins;
            font-size: 18px;
            text-transform: uppercase;
            display: none;
            transform: rotate(10deg);
            font-weight: 900;
            span{
                font-family: Aouar;
                font-weight: 900;
            }
        }
    }
    .hover{
        width: 96px;
        height: 96px;
        background-color: $interColor;
        opacity: 0.36;
        border: none;
        mix-blend-mode: difference;
    }
    .hoverMenu{
        width: 126px;
        height: 126px;
        background-color: $interColor;
        color: $clearColor;
    }
}
.Animation{
    height: 100%;
    position: absolute;
    top:0;
    overflow: hidden;
    &__text{
        div{
            font-family: poppins;
            font-size: 30vh;
            background-color:$interColor;
            white-space: nowrap;
            color: $clearColor;
            font-weight: 900;
            text-transform: uppercase;
            border: solid 4px $clearColor;
            &:nth-child(1){
                transform:  translateY(0) translateX(-400vw);
                z-index: -1;
                transition: 2s;
            }
            &:nth-child(2){
                transform: rotate(3deg) translateY(-7.8%) translateX(400vw);
                z-index: -3;
                transition: 2s;
            }
            &:nth-child(3){
                transform:  rotate(340deg) translateY(-19.5%) translateX(-400vw);
                z-index: -5;
                transition: 2s;
            }
            &:nth-child(4){
                transform: rotate(3deg)  translateY(-60%) translateX(400vw);
                z-index: -4;
                transition: 2s;
            }
            &:nth-child(5){
                transform: rotate(35deg) translateY(-91%) translateX(-400vw);
                z-index: -2;
                transition: 2s;
            }
            &:nth-child(6){
                transform: rotate(0deg) translateY(-97vh) translateX(400vw);
                z-index: -2;
                transition: 2s;
            }
            span{
                span{
                    font-family: 'Aouar';
                }
            }
        }
    }
    .animWork1{
        transform: translateY(0) translateX(-200px) !important;
    }
    .animWork2{
        transform: rotate(3deg) translateY(-7.8%) translateX(200px) !important;
    }
    .animWork3{
        transform:  rotate(340deg) translateY(-19.5%) translateX(-200px) !important;
    }
    .animWork4{
        transform:rotate(3deg)  translateY(-40%) translateX(-200px) !important;
    }
    .animWork5{
        transform: rotate(35deg) translateY(-91%) translateX(-200px) !important;
    }
    .animWork6{
        transform: rotate(0deg) translateY(-97vh) translateX(-200px) !important;
    } 
}

.burger{
    font-size: 18px;
    font-family: poppins;
    color: $clearColor;
    display: flex;
    background-color: $interColor;
    border: solid 2px $clearColor;
    border-top: none;
    padding: 22px 60px;
    transform: rotate(90deg);
    right: -14.5%;
    position: fixed;
    z-index: 50;
    gap: 30px;
    top: 50%;
    transition: 500ms;
    a{
        color: $clearColor;
    }
}
.Presentation{
    background-color: $interColor;
    height: auto;
    width: 100vw;
    overflow-x: hidden;
     
    &__picture{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100%;
        position: relative;
    }
    &__cadre{
        height: 525px;
        width: 410px;
        overflow: hidden !important;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        img{
            width: 180%;
            opacity: 0.8;
        }
    }
    &__surText{
        font-family: 'poppins';
        font-size: 98px;
        font-weight: 900;
        line-height: 110px;
        -webkit-text-stroke: 2px $clearColor;
        letter-spacing: 2px;
        color: transparent;
        text-transform: uppercase;
        position: relative;
        top: 0;
        bottom: 0;
        text-align: center;
        span{
            font-family: Aouar;
            color: $clearColor;
            font-weight: 100;
        }
    }
    &__tech__responsive{
        display: none;
    }
    &__tech{
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        position: relative;
        p{
        position: absolute;
        bottom: 0;
        font-family: 'poppins';
        font-size: 15vh;
        font-weight: 900;
        line-height: 200px;
        color: $clearColor;
        opacity: 0;
        padding: 0 7%;
            span{
                -webkit-text-stroke: 2px $clearColor;
                color: transparent;
            }
        }
    }
    &__profil{
        height: 75vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 7% 0;
        .rowl{
            font-family: poppins;
            font-size: 16vh;
            background-color:$interColor;
            white-space: nowrap;
            color: $clearColor;
            font-weight: 900;
            text-transform: uppercase;
            border: solid 4px $clearColor;
            padding: 2% 0;
            display: flex;
            
        }
        .rowl1{
            transform: rotate(-7deg) translateY(500px) translateX(1500px);

        }
        .rowl2{
            transform: rotate(7deg) translateY(400px) translateX(-2500px);
        }
        &__text{
            width: 100%;
            height: 60%;
            background-color: $clearColor;
            display: flex;
            justify-content: center;
            align-items: center;
            p{
                font-family: poppins;
                font-size: 64px;
                font-weight: 700;
                color: $clearColor;
            }
        }
    }
    &__projects{
        height: 50vh;
        position: relative;
        overflow: hidden;
        .square{
            height: 1000px;
            width: 3000px;
            background-color: $clearColor;
            position: absolute;
            bottom: -45vh;
            left: 50%;
            transform: rotate(-10deg) translate(-50%,0);
        }
        .square2{
            height: 1000px;
            width: 3000px;
            background-color: $clearColor;
            position: absolute;
            bottom: 500px;
            left: 50%;
            transform: rotate(-10deg) translate(-50%,0);
        }
        img{
            position: absolute;
            height: 250px;
            bottom: 400px;
            left: 50%;
            transform: translate(-50%,0);
           }
    }
    &__colorTransition{
        height: 90vh;
        background-color: $clearColor;
        display: flex;
        align-items: center;
        span{
            font-family: Aouar;
            font-weight: 100;
        }
        .menu{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            font-family: poppins;
            font-size: 98px;
            color: $interColor;
            width: 100%;
            ul{
                text-align: start;
                li{
                    -webkit-text-stroke: 2px $interColor;
                    color: transparent;
                    text-transform: uppercase;
                    font-weight: 700;
                    &:hover{
                        color: $interColor;
                        -webkit-text-stroke: none;
                    }
                }
            }
            h2{
                text-transform: uppercase;
                font-weight: 900;
            }
        }
    }
    &__project{
        width: 100vw;
        height: 100vh;
    }
}
.Paranoid, .Axioma, .Flamingod, .Aubrac{
    width: 100vw;
    height: 100vh;
    
    &__display__text{
        width: 50%;
        text-align: start;
        padding: 0 0 0 7%;
        h1{
            font-family: poppins;
            font-size: 98px;
            color: transparent;
            -webkit-text-stroke: 2px $clearColor;
            text-transform: uppercase;
            font-weight: 900;
            line-height: 90px;
        }  
        h2{
            font-family: poppins;
            font-size: 68px;
            color: $clearColor;
            text-transform: uppercase;
            font-weight: 900;
            line-height: 70px;
            letter-spacing: 3px;
            margin-bottom: 20px;
            span{
                -webkit-text-stroke: 2px $clearColor;
                color: transparent !important;
            }
        }
    }
    &__display{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .macParano{
        position: relative;
        height: 100%;
        width: 50%;
        img{
            position: absolute;
            transform: rotate(-7deg) ;
            bottom: 20%;
            right: -150px;
            height: auto;
            width: 100%;
            z-index: 2;
        }
        .pbr{
            display: none;
        }
        .circle{
            position: absolute;
            height: 280px;
            width: 280px;
            background-color: $punchColor;
            border-radius: 300px;
            top: 100px;
        }
    }
    .separator{
        width: 520px;
        height: 4px;
        background-color: $punchColor;
        margin-bottom: 50px;
        text-align: end;
    }
}
.Axioma, .Aubrac{
    &__display__text{
        width: 50%;
        text-align: end;
        padding: 0 7% 0 0;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .macAxioma, .macAubrac{
        position: relative;
        height: 100%;
        width: 50%;
        img{
            position: absolute;
            transform: rotate(7deg) ;
            bottom: 20%;
            left: -300px;
            height: auto;
            width: 120%;
            z-index: 2;
        }
        .circle{
            position: absolute;
            height: 180px;
            width: 180px;
            background-color: $punchColor;
            border-radius: 300px;
            bottom: 50px;
            right: 50px;
        }
    }
    .macAubrac{
        img{
            transform: rotate(-7deg) ;
            height: auto;
            width: 120%;
        }
        .circle{
            height: 240px;
            width: 240px;
            top: 50px;
            right: 50px;
        }
    }
}
.Flamingod{
    .macFlamingod{
        position: relative;
        height: 100%;
        width: 50%;
        img{
            position: absolute;
            bottom: 20%;
            right: -300px;
            height: auto;
            width: 120%;
            z-index: 2;
        }
        .circle{
            position: absolute;
            height: 280px;
            width: 280px;
            background-color: $punchColor;
            border-radius: 300px;
            bottom: 350px;
            left: 50px;
        }
    }
}
.hidden{
    display: none;
}
.indexMajor{
    z-index: 100;
}
.Footer{
    height: 100vh;
    background-color: $interColor;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 7%;
    .separator{
        height: 30vh;
        width: 4px;
        background-color: $clearColor;
    }
    .gifSection{
        font-family: poppins;
        font-size: 12vh;
        text-transform: uppercase;
        color: $clearColor;
        line-height: 13vh;
        span{
            -webkit-text-stroke: 2px $clearColor;
            color: transparent;
            font-size: 15vh;
        }
        img{
            width: 28vw;
        }
    }
    nav{
        font-size: 12vh;
        font-family: poppins;
        font-weight: 900;
        text-align: start;
        a{
            text-decoration: none;
            color: $clearColor;
        }
        ul{
            list-style: none;
            li:hover{
                -webkit-text-stroke: 2px $clearColor;
                color: transparent;
            }
        }
    }
}
img{
    -webkit-filter: grayscale(100%);
}
img:hover{
    -webkit-filter: grayscale(0%); 
    transition: 1s;
}
a{
    text-decoration: none;
}
.Dtext{
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.About3D{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition-delay: 2s;
    gap: 45px;
    height: 100px;
    background-color: $interColor;
    div{
        display: flex;
        gap: 45px;
       margin-bottom: 20px;
    }
    .btn3d {
        font-family: poppins;
        font-size: 105px;
        width: $btn-width;
        height: $btn-height;
        perspective: $persp;
    
    .btn__flip {
        @include facet; 
        transform-style: preserve-3d;
        transform-origin: center bottom ($btn-height/2);
        transition: transform;
        transform: rotateX(0deg);
        text-decoration:none; 
        
            .btn__flip--off {
                @include facet;
                transform: rotateX(0deg) translateZ($btn-height/2);
                -webkit-text-stroke: 2px;
                color:$interColor;
                -webkit-text-stroke-color:$clearColor;
                text-decoration:none; 
                background-color: $interColor;
                font-weight: 900;
            }
            .btn__flip--on {
                @include facet;
                transform: rotateX(90deg) translateZ($btn-height/2);
                color: $clearColor;
                text-decoration:none; 
                background-color: $interColor !important;
                font-weight: 900;
            }
    }
}
}
.space {
    height: 100px;
}
.spaceLetter{
    margin-right: 80px;
}
.pbr, .axr, .fgr, .aur{
    display: none !important;
   
}
@media screen and (max-width: 375px) {
.Cursor{
    display: none !important;
}
    .Home__text{
        h1{
            font-size: 68px;
            border: none;
        }
        .Home__name{
            font-size: 142px;
        }
    }
    .Home__Button{
        font-size: 22px !important;
        height: 100px !important ;
        width: 100px !important ;
    }
    .burger{
        display: none;
    }
    .Presentation__surText__h2{
        font-size: 58px;
    }
    .Presentation__picture{
        overflow: hidden;
        .Presentation__cadre{
            height: 425px;
            width: 270px;
            overflow: hidden !important;
            max-width: 270px;
            max-height: 425px;
        }
    }
    .Presentation__profil{
        display: none;
    }
    .Presentation__tech{
        display: none;
    }
    .Presentation__tech__responsive{
        padding: 14% 7%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        p{
            text-align: left;
            font-family: 'poppins';
            font-size: 10vh;
            font-weight: 900;
            line-height: 60px;
            color: $clearColor;
            padding: 20px 0;
            span{
                -webkit-text-stroke: 2px $clearColor;
                color: transparent;
            }
        }
    }
    .square{
        height: 1000px;
        width: 3000px;
        background-color: $clearColor;
        position: absolute;
        bottom: -600px !important;
        left: 50%;
        transform: rotate(-10deg) translate(-50%,0);
    }
    .Presentation__colorTransition{
        .menu{
            flex-direction: column-reverse;
            h2{
                font-size: 10vh;
            }
            nav{
                font-size: 8vh;
                padding: 40px 0;
                ul{
                    text-align: center;
                }
            }
        }
    }
    .Presentation__project{
        height: 115vh;
        .circle{
           display: none;
        }
        h1{
            font-size: 8vh !important;
            line-height: 50px;
            text-align: center;
        }
        h2{
            font-size: 6vh !important;
            line-height: 40px;
            text-align: center;
            .wowYouAreLostedInMyCode{
                font-size: 5vh !important;
                color: $clearColor !important;
                -webkit-text-stroke: 0px !important;
                font-weight: 900;
            }
        }
        .Paranoid, .Axioma, .Flamingod, .Aubrac{
            .Paranoid__display, .Axioma__display, .Flamingod__display, .Aubrac__display{
                flex-direction: column;
            }
            .macParano, .macAxioma, .macAubrac, .macFlamingod{
                width: 100%;
                display: flex;
                justify-content: center;
                img{
                    width: 80%;
                    position: static;
                    transform: none !important;
                }
            }
            .Axioma__display, .Aubrac__display{
                flex-direction: column-reverse;
            }
        }
        .Paranoid__display__text, .Axioma__display__text, .Flamingod__display__text, .Aubrac__display__text{
            max-width: 90%;
            width: auto !important;
            flex-wrap: wrap;
            align-items: center !important;
            padding: 0!important;
            display: flex;
            justify-content: center;
            .separator{
                width: 80%;
                text-align: center !important;
            } 
        }
        .Axioma__display__text{
            flex-wrap: nowrap;
        }
    }
    #FlaminGod{
        margin-top: 50px;
    }
    .pbr{
        display: block !important;
    }
    .pb, .ax, .fg, .au{
        display: none !important;
    }
    .pbr, .axr, .fgr, .aur{
        display: block !important;
        height: 28vh !important;
    }
    
    .Dtext{
        height: 80vh;
    }
    .About3D .btn3d {
        font-family: poppins;
        font-size: 38px;
        width: 20px;
        height: 140px;
        perspective: 2000px;
    }
    .About3D div {
        display: flex;
        gap: 20px;
        margin-bottom: 0;
    }
    .Footer{
        background-color: $clearColor;
        padding: 7% 7%;
        flex-direction: column;
        li{
            font-size: 8vh;
            color: $interColor !important;
        }
        .separator{
            width: 80vw;
            height: 2px;
            background-color: $interColor !important;
        }
        .gifSection{
            h1{
                font-size: 8vh;
                color: $interColor;
                line-height: 60px;
                span{
                    font-size: 10vh;
                    -webkit-text-stroke: 1px $interColor;
                } 
            }
            img{
                width: 80%;
            }
        }
    }
}